@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-md-3 bg-white border-right">
        @foreach(User user in (List<User>)ViewData["user-list"])
        {
            <a class="btn btn-block text-dark text-decoration-none text-left border-bottom">@user.UserName</a>
        }
    </div>
    <div class="col-12 col-md-9">
        <div class="bg-white p-1 border-bottom">
            <h1>RECEIVER NAME</h1>
        </div>
        <div class="input-group my-3">
            <textarea class="form-control" placeholder="Enter your message"></textarea>
            <div class="input-group-append">
                <div class="p-1"><button class="btn btn-info">Send</button></div>
            </div>
        </div>
        <div class="my-2 bg-secondary border text-light rounded-lg col-8">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
        <div class="my-2 bg-secondary border text-light rounded-lg col-8">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
        <div class="my-2 bg-secondary text-light border rounded-lg col-8">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
        <div class="my-2 border rounded-lg col-8 ml-auto bg-info text-light">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
        <div class="my-2 border rounded-lg col-8 ml-auto bg-info text-light">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
        <div class="my-2 border rounded-lg col-8 ml-auto bg-info text-light">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
        <div class="my-2 border rounded-lg col-8 ml-auto bg-info text-light">
            <div><small><b>01/01/2020 09:00 AM</b></small></div>
            <div>this is my message</div>
        </div>
    </div>
</div>