@page "/about"
<h3>About US</h3>
<hr />
<p>Welcome to our website. We are BSEF18M Students. This is our EAD Project.</p>
<table class="table table-dark table-striped w-100">
    <thead>
        <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BSEF18M001</td>
            <td>Muhammad Kashif Ali Tariq <span class="text-danger">(LEADER)</span></td>
            <td>Front End Developer</td>
        </tr>
        <tr>
            <td>BSEF18M019</td>
            <td>Usama Aziz</td>
            <td>Back End Developer</td>
        </tr>
        <tr>
            <td>BSEF18M024</td>
            <td>Muhammad Soban</td>
            <td>Web Security</td>
        </tr>
        <tr>
            <td>BSEF18M025</td>
            <td>Muhammad Hammad</td>
            <td>Analytics</td>
        </tr>
        <tr>
            <td>BSEF18M031</td>
            <td>Muhammad Atif Talib</td>
            <td>Back end Developer</td>
        </tr>
        <tr>
            <td>BSEF18M032</td>
            <td>Usama Imran</td>
            <td>Quality Assurance</td>
        </tr>
        <tr>
            <td>BSEF18M038</td>
            <td>Usama Ahmad</td>
            <td>Front End Developer</td>
        </tr>
    </tbody>
</table>

@code {

}
