@page "/become-freelancer"
@inject FreelancerService service
@inject UserServices userService
@inject NavigationManager navigationManager

<h3>Become Freelancer</h3>
<hr />
<div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto border p-2">
        <EditForm Model="@freelancer" OnValidSubmit="SubmitFreelancer">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <label for="details" class="font-weight-bold">Details</label>
            <InputText class="form-control" @bind-Value="freelancer.Detail"></InputText>
            <input type="submit" class="btn btn-primary mt-3" value="Become Freelancer" />
        </EditForm>
    </div>
</div>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    public Models.Freelancer freelancer = new Models.Freelancer();
    public async Task SubmitFreelancer()
    {

        User current = await userService.GetCurrentUser();
        freelancer.UserID = current?.UserID;
        freelancer.UserName = current?.UserName;
        freelancer.UserEmail = current?.UserEmail;
        freelancer.ImageUrl = current?.ImageUrl;
        freelancer.Image = current?.Image;
        await service.AddFreelancer(freelancer);
        MainLayout.current_user = await userService.GetCurrentUser();
        navigationManager.NavigateTo("");
    }
}
