@page "/category/{name}"
@inject CategoryServices catService
@inject RequestServices reqService
@inject GigServices gigService
<h3>Category: @cat.Name</h3>
<hr />
@if (MainLayout.current_user.RoleName != "Client")
{
    <h4 class="my-3">Purchase Requests</h4>
    <div class="row">
        @foreach (PurchaseRequest r in bids)
        {
            <RequestCard dashboard="false" request="@r"></RequestCard>
        }
    </div>
}
@if(MainLayout.current_user.RoleName != "Freelancer")
{
    <h4 class="my-3">Gigs</h4>
    <div class="row">
        @foreach (Gig r in gigs)
        {
            <GigCard dashboard="false" request="@r"></GigCard>
        }
    </div>
}
@code {
    [Parameter]
    public String name { get; set; }
    Category cat = new Category();
    List<Gig> gigs = new List<Gig>();
    List<PurchaseRequest> bids = new List<PurchaseRequest>();
    protected async override Task OnInitializedAsync()
    {
        cat = await catService.getCategoryBySlug(int.Parse(name));
        gigs = await gigService.getGigsByCategory(cat.ID);
        bids = await reqService.getRequestsByCategory(cat.ID);
        await base.OnInitializedAsync();
    }
}
