@page "/"
@inject CategoryServices catService
<h1>WELCOME TO JOB PORTAL</h1>
<hr />
<div class="row my-3">
    @foreach(Category cat in allcats)
    {
        <CategoryCard category="@cat" isAdmin="false"></CategoryCard>
    }
</div>
@code{
    List<Category> allcats = new List<Category>();

    protected async override Task OnInitializedAsync()
    {
        allcats = await catService.getAllCategories();
        return;
    }
}