<div style="display: @show_val;">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto border p-2">
            <h3>Add Skill</h3>
            <hr />
            <EditForm Model="@skill" OnValidSubmit="@((_)=> { onsubmit.InvokeAsync(skill); })">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <label for="name" class="font-weight-bold">Skill Name</label>
                <InputText class="form-control" @bind-Value="skill.Name"></InputText>
                <input type="submit" value="Add Skill" class="btn btn-primary" />
                <input type="reset" class="btn btn-secondary" @onclick="@((_)=> { click.InvokeAsync(); })" />
            </EditForm>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public bool show { get; set; }
    String show_val = "none";
    [Parameter]
    public EventCallback click { get; set; }
    protected override void OnParametersSet()
    {
        if (show)
            show_val = "";
        else
            show_val = "none";
        base.OnParametersSet();
    }
    [Parameter]
    public Skill skill { get; set; } = new Skill();
    [Parameter]
    public EventCallback<Skill> onsubmit { get; set; }
}
