    @{

        ViewData["Title"] = "My Orders";
    }

    <table class="table table-light w-100 table-striped">
        <tr>
            <th>Gig</th>
            <th>Client</th>
            <th>Starting Date</th>
            <th>Completion Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (Order order in (List<Order>)ViewData["Order-List"])
        {
    <tr>
        <td>@order.gig.Title</td>
        <td>@order.client.UserName</td>
        <td>@order.StartDate.ToString("D")</td>
        <td>@if (order.Status=="Complete")
        {@order.EndDate.ToString("D")}
        else { <div>---</div> } </td>
        <td>@order.Status</td>
        <td><a href="" class="btn btn-link">View</a></td>
    </tr>
        }
    </table>