@inject NavigationManager NavigationManager;
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Job Portal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-phone" aria-hidden="true"></span> Contact Us
            </NavLink>
        </li>
        @if (current_user != null && current_user.UserID != null && current_user.UserID != "")
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@current_user.RoleName">
                    <span class="oi oi-person" aria-hidden="true"></span> Dashboard
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="updateProfile">
                    <span class="oi oi-plus" aria-hidden="true"></span> Update Profile
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="@(async()=> { await authStateProvider.Logout(); MainLayout.current_user = new User(); navigationManager.NavigateTo(""); })">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-person" aria-hidden="true"></span> Register
                </NavLink>
            </li>

        }
    </ul>
</div>

@code {
    [Parameter]
    public User current_user { get; set; }
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected override void OnInitialized()
    {
        Console.WriteLine("Code initialized");
        base.OnInitialized();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
