@model List<JobPortal.WebUI.Models.Category>

@{
    ViewData["Title"] = "Category management Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                <div class="card-header">
                    Category Name Here
                </div>
                <img class="card-img-top" src="..." alt="image ">
                <div class="card-body">
                    <p class="card-text">Category Desciption Here</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                <div class="card-header">
                    Category Name Here
                </div>
                <img class="card-img-top" src="..." alt="image ">
                <div class="card-body">
                    <p class="card-text">Category Desciption Here</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                <div class="card-header">
                    Category Name Here
                </div>
                <img class="card-img-top" src="..." alt="image ">
                <div class="card-body">
                    <p class="card-text">Category Desciption Here</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                <div class="card-header">
                    Category Name Here
                </div>
                <img class="card-img-top" src="..." alt="image ">
                <div class="card-body">
                    <p class="card-text">Category Desciption Here</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                <div class="card-header">
                    Category Name Here
                </div>
                <img class="card-img-top" src="..." alt="image ">
                <div class="card-body">
                    <p class="card-text">Category Desciption Here</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                <div class="card-header">
                    Category Name Here
                </div>
                <img class="card-img-top" src="..." alt="image ">
                <div class="card-body">
                    <p class="card-text">Category Desciption Here</p>
                </div>
            </div>
        </div>

    </div>

</div>