@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Client_DashBoard";
    ViewData["Title"] = "DashBoard";
}


@ViewData["Title"]

<h2>
    temperaraly removed from due to context errro from category
</h2>

<Button class="btn btn-dark">
    <a class="nav-link text-light" asp-area="" asp-controller="Client" asp-action="PurchaseRequest">List Requests</a>
</Button>
 <button class="class="btn btn-dark"">
    <a class="nav-link text-light" asp-area="" asp-controller="Client" asp-action="RequestForm">Make A Request</a>
</button>









