@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PurchasseRequest Card View";
}



<h2>@ViewData["Title"]</h2>
<hr />


<div class="container">
    <div class="row mt-5">
        @foreach (PurchaseRequestForm req in (List<PurchaseRequestForm>)ViewData["request-view-card"])
        {
            <div class="col-lg-4 col-md-4 col-sm-12">

                <div class="card mx-2 my-2" style="width: 20rem; height:20rem">
                    <div class="card-header">
                        <p>Category: @req.RequestCategory  </p><p>Date: @req.RequestDate</p> 
                    </div>
                    <img class="card-img-top" src="#" alt="card Image  ">
                    <div class="card-body">
                        <p class="card-text">@req.RequestDescription</p>
                    </div>
                    <hr />
                    <div class="card-header">
                        <span><i>Budget:</i> <b>$@req.RequestBudget</b> </span>
                    </div>
                    <a class="nav-link btn btn-dark" asp-area="" asp-controller="Client" asp-action="Requesthandler">Bid</a>

                </div>
            </div>

        }


    </div>








